* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}


/* header line */
.menu{
    width: 100%;
    height: 135px;
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 50px 40px;
    gap:100px;
}
.menu-home{
    width:20%;
}
    .menu-home a{
        text-decoration: none;
        font-size: 20px;
        color:rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        text-align: center;
        position: relative;
        top:15px;
    }
.logo{
    width:60%;
    text-align: center;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #ffff;
}
.menu-icon{
    width:20%;
    text-align: center;
}
.menu-icon a{
    text-decoration: none;
}
    .fa-magnifying-glass{
        color:rgb(0, 0, 0);
        margin-top: 10px;
        cursor: pointer;
    }
    .fa-cart-shopping{
        margin-top: 5px;
        font-size: 40px;
        color:white;
    }
    .fa-cart-shopping:hover{
        color: #9DD24C;
    }
    .fa-user:hover{
        color: #9DD24C;
    }
    .fa-magnifying-glass:hover{
        transform: scale(1.1);
    }
    .fa-user{
        margin-top: 5px;
        padding-left: 53px;
        font-size:40px;
        color:white;
    }

    /* container */
.container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
    .item-left{
        width: 50%;
        height: auto;
    }
        .item-left .head-line {
            width: 650px;
            height: 63px;
            margin-left: 10px;
        }
            .head-line h1 {
                font-size: 36px;
                font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
                font-weight: bold;
                margin: 25px 28px;
            }
            .head-line hr {
                border: 1.5px solid black;
                position: relative;
                bottom:20px;
                left: 30px;
            }
.imge {
    width: 500px;
    height: 350px;
    margin: auto;
    margin-top: 30px;
}
    .imge img{
        width: 400px;
        height: 350px;
        border: 1px solid black;
        border-radius: 25px;
        margin-left: 45px;  
    }
.box-row{
    width: 700px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    gap: 20px;
    margin-left: 10px;
}
    .box{
        width: 150px;
        height: 123px;
        margin-top: 3px;
    }
        .box img {
            width: 100%;
            height: 100%;
            border: 1px solid black;
            border-radius: 25px;
        }
.item-right{
    width:700px ;
    height: 730px;
    background-color: #D9D9D9;

}
    .header-right{
        width: 320px;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-left: 30px;
    }
        .name{
            font-size: 24px;
            font-weight: bold;
            color: black;
        }
        .name1{
            font-size: 36px;
            font-weight: bold;
            color:red;
            margin-top: 15px;
        }
        .name2{
            font-size: 24px;
            font-weight: bold;
            font-family: sans-serif;
            color:black;
            margin-top: 40px;
            opacity: 60%;
        }
        .para{
            width: 500px;
            height: 112px;
            margin-top: 20px;
        }
        .para p {
            font-size: 16px;
            font-weight: 400;
            color: #333;
        }
        .price {
            color: red;
            margin-top: 20px;
            font-size: 32px;
            font-weight: bold;
        }
        .color{
            font-size: 20px;
            font-weight: 400;
            color: #333;
            margin-top: 20px;
        }
        .color-chart{
            font-size: 20px;
            font-weight: 400;
            color: #333;
            margin-top: 30px;
        }
.box-color{
    width:300px ;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top: 20px;
}
    .Orange{
        width: 50px;
        height: 50px;
        background-color: orange;
        cursor: pointer;
    }
    .blue{
        width: 50px;
        height: 50px;
        background-color: blue;
        cursor: pointer;
    }
    .gray{
        width: 50px;
        height: 50px;
        background-color: gray;
        cursor: pointer;
    }
    .white{
        width: 50px;
        height: 50px;
        background-color: white;
        cursor: pointer;
    }
    .Orange:hover{
        border:  1px solid #070707;
        transform:scale(0.98);
        transition: 0.2s;
    }
    .blue:hover{
        border:  1px solid #070707;
        transform:scale(0.98);
        transition: 0.2s;
    }
    .gray:hover{
        border:  1px solid #070707;
        transform:scale(0.98);
        transition: 0.2s;
    }
    .white:hover{
        border:  1px solid #070707;
        transform:scale(0.98);
        transition: 0.2s;

    }
        .btn {
            width: 150px;
            height: 59px;
            cursor: pointer;
        }
        .btn a button {
            width:150px;
            height: 100%;
            background-color: #9DD24C;
            border: none;
            border-radius: 25px;
            position: relative;
            top:30px;
            left: 10%;
            cursor: pointer;
            font-size: 16px;
            font-weight:500;
        }
        .btn  a {
            text-decoration: none;
            color: #070707;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }
        .btn a button:hover{
            box-shadow: 1px 0 3px black;
            transform: scale(0.98);
            transition: 0.2;
        }
.feater{
    width:100%;
    height: 40px;
    background-color: #9DD24C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.feater p {
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    color: #000000;
}
.feater .fa-computer{
    font-size: 16px;
    margin: 0px 10px;
    margin-top: 4.8px;
}